html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent scrolling */
    background: #034132; /* Dark background for the main div */
}

div{
    /* border: 1px solid rgb(0, 255, 0); */
    box-sizing: border-box;
}
h3{
    margin: 0px;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #511a75;
    color: white;
    cursor: pointer;
    width: 100%;
}
button:hover {
    filter: brightness(150%);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Allows absolute positioning inside */
    width: 100vw;
    height: 100%;
    max-height: calc(100vw * 1.6);
    max-width: calc(100vh / 1.6);
}

.board-labels.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.board-labels.bottom {
    display: flex;
    justify-content: space-between;
}

.label {
    padding: 5px; /* Adjust based on your cell size */
}

.board {
    width: 95%;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background: #bbb;
    background-image: url(http://www.zingerbugimages.com/backgrounds/white_marble_background_seamless.jpg);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.board .cell {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.throneImage {
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.highlighted-cell-gold {
    box-shadow: inset 0 0 30px rgba(200, 170, 0, 0.9); /* Subtle glow effect */
    transition: box-shadow 0.3s;
}
.highlighted-cell-red {
    box-shadow: inset 0 0 30px rgba(161, 6, 1, 0.9); /* Subtle glow effect */
    transition: box-shadow 0.3s;
}

.game-piece {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    object-fit: contain;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    z-index: 2
}
.sacrifice-icon{
    position: absolute;
    height:60%;
    width:60%;
    top:-10%;
    right:-10%;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    display: none;
    pointer-events: none;
}
.challenge-image {
    height: 150%;
    top: -10%;
    position: absolute;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    pointer-events: none;
    display: none;
    z-index: 10;
}
#opponent-challenge-image {
    left: 18%;
    transform: rotate(10deg);
}
#player-challenge-image {
    right: 18%;
    transform: rotate(-10deg);
}
#floating-game-piece {
    pointer-events: none;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    object-fit: contain;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    z-index: 3;
}
.game-piece.selected {
    border-radius: 50%;
    background-clip: content-box;
    padding: 4px;
    box-shadow: 0 0 0 4px transparent;
    animation: pulsing-border 2s infinite;
}
@keyframes pulsing-border {
    0% {
        box-shadow: 0 0 0 4px rgba(205, 154, 0, 0.534);
    }
    50% {
        box-shadow: 0 0 0 12px rgba(255, 191, 1, 0.534);
    }
    100% {
        box-shadow: 0 0 0 4px  rgba(205, 154, 0, 0.534);
    }
}

#on-deck-indicator {
    height: 100%;
    width: 100%;
    border-radius: 5%;
    pointer-events: none;
    background-clip: content-box;
    animation: pulsing-border 1s infinite;
}



#challenge-highlight{
    background-color: rgba(184, 1, 1, 0.418);

}
#origin-highlight{
    background-color: rgba(1, 148, 67, 0.205);
}
.cell-marker{
    position: absolute;
    top:50%;
    left:50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    -webkit-user-drag: none; /* Specifically for WebKit */
    -khtml-user-drag: none; /* For Konqueror */
    -moz-user-drag: none; /* For Firefox */
    -o-user-drag: none; /* For Opera */
    pointer-events: none;
    display: none;
}
.bubble {
    width: 12vw;
    height: 12vh;
    z-index: 20;
    position: fixed;
    display: none;
    -webkit-user-drag: none; /* Specifically for WebKit */
    -khtml-user-drag: none; /* For Konqueror */
    -moz-user-drag: none; /* For Firefox */
    -o-user-drag: none; /* For Opera */
}

.inventory {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 95%;
    height: 22%;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}

.inventory-row {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    -webkit-user-drag: none; /* Specifically for WebKit */
    -khtml-user-drag: none; /* For Konqueror */
    -moz-user-drag: none; /* For Firefox */
    -o-user-drag: none; /* For Opera */
}

.inventory-slot, .on-deck-cell {
    position: relative;
    flex: 1;
    height: 100%;
}

.on-deck-cell {
    background-color: black;
    border: 1px solid white;
    -webkit-user-drag: none; /* Specifically for WebKit */
    -khtml-user-drag: none; /* For Konqueror */
    -moz-user-drag: none; /* For Firefox */
    -o-user-drag: none; /* For Opera */
}

.on-deck-cell.empty {
    box-shadow: inset 0 0 20px rgba(255, 215, 0, 0.8); /* Subtle glow effect */
    transition: box-shadow 0.3s;
}

.on-deck-cell .game-piece,
.inventory-slot .game-piece {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.cell:nth-child(odd) {
    background-color: #39393977; /* Black cells */
}

.cell:nth-child(even) {
    background-color: #C9C9C977; /* White cells */
}

.game-button {
    width: calc((100% / 5) * 1.7); /* Adjust the width to bring buttons closer to the middle */
    height: calc(100% / 5); /* Same height as the on-deck-cell */
    color: white; /* White text */
    border: none; /* No border for a no-frills look */
    font-size: 3cqh; /* Adjust the font size to be viewport-responsive */
    padding: 1cqh; /* Padding to ensure text is within the button bounds */
    font-weight: bold; /* Make the text bold */
    position: absolute;
    top: calc(74%); /* Aligned with the on-deck-cell vertically */
    height: 13%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    cursor: pointer; /* Changes cursor to pointer on hover */
    outline: none; /* Remove focus outline */
}

/* Specific styles for the Bomb! button for a larger font */
#bomb-button {
    font-size: 3.5cqh; /* Slightly larger font size for "Bomb!" since it's shorter */
    left: calc(50% - (100% / 5 * 0.6) - (100% / 5 * 1.7)); /* Recalculate the position to bring closer to center */
    background-color: darkred;
    display: none;
}
#pass-button {
    font-size: 3.5cqh; /* Slightly larger font size for "Bomb!" since it's shorter */
    left: calc(50% - (100% / 5 * 0.6) - (100% / 5 * 1.7)); /* Recalculate the position to bring closer to center */
    display: none;
}
#challenge-button {
    left: calc(50% + (100% / 5 * 0.6)); /* Recalculate the position to bring closer to center */
    display: none;
}

#ready-button {
    font-size: 3.5cqh; 
    left: 48%; /* Center the button horizontally */
    top: 40%;
    transform: translateX(-50%); /* Adjust for the button's width */
    display: none;
}
#random-setup-button {
    background-color: darkred;
    font-size: 3.5cqh; 
    left: 48%; /* Center the button horizontally */
    top: 40%;
    transform: translateX(-50%); /* Adjust for the button's width */
    display: none;
}



/* GAME CLOCK */
#game-stat-container {
    position: fixed;
    top: 1.5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 95%;
    height: 11%;
    max-width: calc(100vh / 1.6 * 0.95); /* Match the max-width of .main */
    -webkit-user-drag: none; /* Specifically for WebKit */
    -khtml-user-drag: none; /* For Konqueror */
    -moz-user-drag: none; /* For Firefox */
    -o-user-drag: none; /* For Opera */
    pointer-events: none;
}
#player-lost-pieces-container{
    right: 0;
}
#opponent-lost-pieces-container{
    left: 0;
}
.lost-pieces-container{
    position: absolute;
    bottom: 0%;
    height: 40%;
    width: 35%;
    display: flex; /* Enable flexbox for horizontal layout */
    flex-direction: row; /* Arrange children in a row */
    justify-content: space-between; /* Spread out lost pieces evenly */
}

.lost-piece{
    height: 100%;
    width: 20%; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.stat-container {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    align-items: center;
}

.stat-container:first-child {
    align-items: flex-start;
}

.stat-container:last-child {
    align-items: flex-end;
}

.clock {
    font-family: 'LCD', 'Lucida Console', monospace;
    font-size: 2.5cqh;
    padding: 0.5cqh 1cqh;
    border: 1px solid grey;
    margin: 0;
    min-width: 80px;
    text-align: center;

}

.player-name {
    color: white;
    width: 100%;
    font-size: 2cqh; /* Slightly smaller than the clock */
    text-align: center;
    white-space: nowrap; /* Prevent name from wrapping */
}

.clock-highlight {
    box-shadow: 0 0 15px rgba(200, 170, 0, 0.9); /* Subtle glow effect */
}

.black-clock {
    background-color: black;
    color: white;
}

.white-clock {
    background-color: white;
    color: black;
}


/* LOBBY */
#menu-button {
    position: absolute;
    top: 1%;
    left:50%;
    transform: translateX(-50%);
    width: 50px;
    aspect-ratio: 1;
    font-size: 24px;
    color: white;
    z-index:9999;

}
#options-menu {
    top:10%;
    position:absolute;
    width: 50%;
    z-index:9999;
    display: none;
}
#menu-button-image{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80%;
    /* pointer-events: none; */
}

#opponent-name-input {
    width: 100%;  
    padding: 10px;  
    border: 1px solid #ccc;
    border-radius: 4px;
}

#cancel-button {
    background-color: red;
}

#lobby-container {
    z-index:100;
    position: absolute;
    top:15%;
    text-align: center;
    width: 90%; /* Responsive width */
    max-width: 500px; /* Maximum size */
    height:56%;
    -webkit-user-drag: none; /* Specifically for WebKit */
    -khtml-user-drag: none; /* For Konqueror */
    -moz-user-drag: none; /* For Firefox */
    -o-user-drag: none; /* For Opera */
}
.menu-box{
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    background: #FFFD;
}

.bottom-of-lobby {
    position:absolute;
    width:100%;
    bottom: 2%;
    left:50%;
    transform: translateX(-50%);
}

#status-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3.5cqh;
    width: 100%;
    text-align: center;
    top:68%;
    color: #000; /* Styling the text color */
    display: block;
    z-index: 101;

}

input[type="text"], select {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    display: block;
    width: 100%; /* Full width inputs */
    box-sizing: border-box; /* Border and padding included in width */
}



/* Dialog Overlay */
.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 102; /* Ensure it is above other content */
}

/* Dialog Box */
.dialog-box {
    background-color: #28a745; /* Green background */
    color: white; /* White text color for contrast */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: auto;
    max-width: 80%; /* Limits max width to avoid overly wide dialogs */
    text-align: center;
}

/* Button Styling */
.dialog-button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

/* Accept Button */
#accept-invite {
    background-color: #007BFF; /* Blue background for accept */
    color: white;
}